.banner__titulo {
    text-align: center;
}

.example-card{
    background-color: #81d8d0;
  }

.container {
    padding-left: 0 !important;
    padding-right: 0 !important;
    width: 100% !important;
  }

.banner__txt{
    background-color: transparent;   
    text-align: justify;
}