<div class="row">
    <div class="col-md-6 mx-auto mt-5">
        <div class="card">
            <div class="card-body">
                <h1 class="text-center">Cambiar Contraseña</h1>
                <div class="form-group">
                    <label for="passwordNew">Contraseña Nueva</label><br>
                    <input type="password" class="form-control" [(ngModel)]="passwordNew"/>
                </div>
                <br>
                <div class="text-center">
                    <button type="submit" (click)="cambiar()" class="btn btn-info" style="margin-left: auto">
                        Cambiar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>